#settings-column {
  margin-right: 20px;
}

#viewer-column {
  min-width: 300px;
}

#settings-column {
  min-width: 440px;
}

#exposure-settings-collapse {
  margin-bottom: 20px
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}